[submodule "UserManagement"]
	path = UserManagement
	url = git@github.com:XH961209/UserManagement.git
[submodule "TaskManagement"]
	path = TaskManagement
	url = git@github.com:XH961209/TaskManagement.git
[submodule "EmployeeManagement"]
	path = EmployeeManagement
	url = git@github.com:XH961209/EmployeeManagement.git
